<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ys.ui">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--<uses-permission android:name="android.permission.INSTALL_PACKAGES" />-->
    <!--<uses-permission android:name="android.permission.DELETE_PACKAGES" />-->

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:sharedUserId="android.uid.system"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InitActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="关于我们"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MZActivity"
            android:label="免责申明"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:label="帮助"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GetProductActivity"
            android:label="@string/title_activity_get_product"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.TermInitActivity"
            android:label="@string/term_init"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminLoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminActivity"
            android:label="@string/admin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminSaleLitActivity"
            android:label="@string/admin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QRcodeActivity"
            android:label="二维码支付"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VipBuyActivity"
            android:label="会员购买"
            android:screenOrientation="portrait" />
        <activity
            android:launchMode="singleTask"
            android:name=".activity.ProductActivity"
            android:label="商品购买"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductDetailActivity"
            android:label="商品详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductNoSaleDetailActivity"
            android:label="商品详情"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OutGoodsActivity"
            android:label="出货"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayActivity"
            android:label="预支付"
            android:screenOrientation="portrait" />
 <activity
            android:name=".activity.PayByCoinActivity"
            android:label="预支付"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.QRcodePayActivity"
            android:label="支付"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PayFailActivity"
            android:label="支付"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:label="首页"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
       <activity
            android:name=".activity.MallWebviewActivity"
            android:label="首页"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YsActivity"
            android:label="智能药师"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YsDetailActivity"
            android:label="智能药师"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
 <activity
            android:name=".activity.VipActivity"
            android:label="会员尊享"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

<activity
            android:name=".activity.ScoreListActivity"
            android:label="会员尊享"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

<activity
            android:name=".activity.ZhuanPanActivity"
            android:label="会员尊享"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.YsMCMYActivity"
            android:label="名厂名药"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YsGNGXActivity"
            android:label="功能功效"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YsRTBWActivity"
            android:label="人体部位"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YsYYRQActivity"
            android:label="用药人群"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- <activity android:name="com.ys.ui.activity.MainActivity"></activity> -->
        <!--<activity
            android:name=".sample.SelectGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sample.MainMenu"
            android:screenOrientation="portrait" />-->
        <activity
            android:name=".serial.salemachine.SerialPortPreferences"
            android:screenOrientation="portrait" />

        <!-- 打印机测试 -->
        <!-- <activity android:name="com.ys.test.activity.SerialPortActivity"/> -->
        <activity
            android:name=".serial.print.activity.MainMenu"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent" />

        <service
            android:name=".service.MyService"
            android:screenOrientation="portrait" />
        <service
            android:name=".service.TimerService"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.SerialInitService"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".service.AlarmReceiver"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receiver.BootUpReceiver"
            android:enabled="true"

            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </receiver>


    </application>

</manifest>